<%- include('Partials/header') %>





<div class="content">
  <div class="card">
    <h3>Total Users</h3>
    <p><%= stats.totalUsers %></p>
  </div>
  <div class="card">
    <h3>Total Deposits</h3>
    <p>$12,400</p>
  </div>
  <div class="card">
    <h3>Total Post</h3>
    <p><%= stats.totalPosts %></p>
  </div>
</div>



<%- include('Partials/footer') %>