*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =========================
   ROOT VARIABLES (THEME)
   Values will be injected
   from EJS / server
========================= */

:root {
  --bg: #ffffff;
  --text: #111111;
  --card: #f3f3f3;
}

[data-theme="dark"] {
  --bg: #0f172a;
  --text: #f1f5f9;
  --card: #1e293b;
}

/* =========================
   HTML & BODY
========================= */

body {
  background: var(--bg);
    margin: 0;
   /* background: #0b1020;*/
    font-family: system-ui, sans-serif;
    
}

/* =========================
   LINKS
========================= */

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
