<!-- =======================
     Tabs Index
======================= -->
<div class="tabsindex">
  <div class="tabindex">Live</div>
  <a class="tabindex inactiveindex" href="/bet">Sports</a>
  <div class="tabindex inactiveindex">Upcoming</div>
</div>
