<!DOCTYPE html>
<html>
<head>
  <title>500 - рж╕рж╛рж░рзНржнрж╛рж░ рж╕ржорж╕рзНржпрж╛</title>
</head>
<body>
  <h1>ЁЯШв рж╕рж╛рж░рзНржнрж╛рж░рзЗ рж╕ржорж╕рзНржпрж╛ рж╣рзЯрзЗржЫрзЗ!</h1>
 
</body>
</html>