<%- include('header') %>
<style>
  .blog-content{
    
    margin: 0px 15px;
  }
</style>

<div class="blog-content"> <%- post.content %></div>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    hljs.highlightAll();
  });
</script>


<%- include('footer') %>