.navbar-main {
   display: none;  
  position: fixed; /* Stay in place */
  
  top: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
   /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  z-index: 1002;
    
  }
 .navbar-main .navbar{
   width: 250px;
   transition:0.3s;
    background: #073615;
    color: white;
    height: 100vh;
    padding: 0px 8px;
    box-sizing: border-box;
   
   
 }
 .navbar-main .sidenav-header{
   display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
   
 }
.navbar-main .titlelogo { 
font-size: 35px;
opacity:.65;
font-weight: bold; 
  
}
.navbar-main .closenav {
  
  color: black;
  
  font-size: 50px; 
  text-transform: uppercase;
  
}