@import url("quill.snow.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  background: #f2f3f7;
  color: #333;
}

/* ---------- TOPBAR ---------- */
.topbar {
  width: 100%;
  background: #f97316;
  color: #fff;
  padding: 4px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.topbar .topurl {
  font-size: 20px;
  font-weight: 600;
  color: red;
}

.menu-btn {
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}

/* ---------- SIDEBAR ---------- */

.hhh{
  display: flex;
  
}
.sidebar {
  position: fixed;
  left: -260px;
  top: 0;
  width: 240px;
  height: 100%;
  background: #22274a;
  color: #fff;
  
  transition: 0.5s ease;
  box-shadow: 2px 0 10px rgba(0,0,0,0.15);
  z-index: 999;
}

/* Close button inside sidebar */

/* Header wrapper */
.side-header {
  position: relative;
  width: 100%;
  height: 55px;
  margin-bottom: 10px;
}

/* Logo (Absolute Center) */
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 20px;
  font-weight: 700;
  background: #3d4270;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
}

/* Close button */
.nj-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
  font-size: 22px;
  background: #ff3b3b;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 6px;
  transition: 0.25s;
}

.nj-btn:hover {
  background: #e12e2e;
}

.sidebar.active {
  left: 0;
}

.sidebar a {
  display: block;
  padding: 14px 22px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.08);
  transition: .25s ease;
}

.sidebar a:hover {
  background: #171b36;
  padding-left: 30px;
}

/* ---------- CONTENT ---------- */
.content {
  padding: 18px;
  margin-top: 20px;
}

.card {
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 18px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.12);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  line-height: 1.5;
}

